@import url(../../node_modules/normalize.css/normalize.css);
h2, h3, .path p:last-child {
  color: #222; }

/*%grid-template
{
    grid-template-rows: auto repeat(2, minmax(auto, 1fr));
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
    "shoes shopBy"
    "shoes compareProducts"
    "shoes .";   
}*/
body {
  background-color: white;
  color: #999;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem; }
  @media (min-width: 768px) {
    body {
      font-size: 0.9rem; } }
  @media (min-width: 992px) {
    body {
      font-size: 1rem; } }

main {
  background-color: green;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  padding: 4% 2%; }
  @media (min-width: 768px) {
    main {
      max-width: 90%; } }
  @media (min-width: 992px) {
    main {
      max-width: 70%; } }

a {
  text-decoration: none;
  color: #999; }

ul {
  list-style-type: none; }

.path {
  margin-bottom: 7%; }
  .path p {
    display: inline; }

.container {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: auto;
  gap: 2%;
  grid-template-areas: "shopBy" "shoes" "compareProducts"; }
  @media (min-width: 768px) {
    .container {
      grid-template-rows: auto repeat(2, minmax(auto, 1fr));
      grid-template-columns: 3fr 1fr;
      grid-template-areas: "shoes shopBy" "shoes compareProducts" "shoes ."; } }
  @media (min-width: 992px) {
    .container {
      grid-template-rows: auto repeat(2, minmax(auto, 1fr));
      grid-template-columns: 3fr 1fr;
      grid-template-areas: "shoes shopBy" "shoes compareProducts" "shoes ."; } }

.shoes {
  grid-area: shoes;
  display: grid;
  grid-auto-rows: minmax(auto, 1fr);
  grid-template-rows: auto repeat(12, minmax(auto, 1fr)) auto;
  grid-template-columns: auto;
  grid-template-areas: "title" "item1" "item2" "item3" "item4" "item5" "item6" "item7" "item8" "item9" "item10" "item11" "item12" "pageNumber";
  gap: 1%; }
  @media (min-width: 768px) {
    .shoes {
      grid-template-rows: auto repeat(6, minmax(auto, 1fr)) auto;
      grid-template-columns: repeat(2, minmax(200px, 1fr));
      grid-template-areas: "title title" "item1 item2" "item3 item4" "item5 item6" "item7 item8" "item9 item10" "item11 item12" "pageNumber pageNumber"; } }
  @media (min-width: 992px) {
    .shoes {
      grid-template-rows: auto repeat(4, minmax(auto, 1fr)) auto;
      grid-template-columns: repeat(3, minmax(200px, 1fr));
      grid-template-areas: "title title title" "item1 item2 item3" "item4 item5 item6" "item7 item8 item9" "item10 item11 item12" ". pageNumber ."; } }
  .shoes h3 {
    margin: 1% 1% 1% 0;
    padding: 1% 1% 1% 0; }
  .shoes .title {
    grid-area: title;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
    .shoes .title h2 {
      flex: 1;
      margin: 0;
      padding: 0; }
    .shoes .title ul {
      flex: 1; }
    .shoes .title li {
      display: inline-block;
      padding-left: 5%; }
      .shoes .title li.sortOptions {
        font-weight: 700;
        color: #222; }
      .shoes .title li.sortOptions-option {
        padding-left: 1%; }
        .shoes .title li.sortOptions-option a {
          color: #999; }
  .shoes ion-icon {
    padding-right: 6px; }
  .shoes .item {
    background-color: pink;
    padding: 2%; }
    .shoes .item img {
      display: block;
      margin: auto;
      max-width: 100%;
      height: auto; }
  .shoes .item1 {
    grid-area: item1; }
  .shoes .item2 {
    grid-area: item2; }
  .shoes .item3 {
    grid-area: item3; }
  .shoes .item4 {
    grid-area: item4; }
  .shoes .item5 {
    grid-area: item5; }
  .shoes .item6 {
    grid-area: item6; }
  .shoes .item7 {
    grid-area: item7; }
  .shoes .item8 {
    grid-area: item8; }
  .shoes .item9 {
    grid-area: item9; }
  .shoes .item10 {
    grid-area: item10; }
  .shoes .item11 {
    grid-area: item11; }
  .shoes .item12 {
    grid-area: item12; }
  .shoes .pageNumber {
    grid-area: pageNumber; }
    .shoes .pageNumber li {
      display: inline-block;
      color: #222;
      padding-right: 5%; }
      .shoes .pageNumber li a {
        color: #222; }
    .shoes .pageNumber .first {
      padding-bottom: 2%;
      border-bottom: 1px solid #222; }
    .shoes .pageNumber ion-icon {
      font-size: 32px;
      vertical-align: middle;
      color: #999; }

.shopBy {
  grid-area: shopBy; }

.color ul {
  padding: 0; }

.size ul {
  padding: 0; }
  .size ul li {
    display: inline-block;
    width: 5%;
    padding: 1% 3%;
    background-color: white;
    border: 1px solid #999;
    font-size: 0.8rem;
    color: #999;
    text-align: center; }

.price img {
  max-width: 100%;
  height: auto; }

.compareProducts {
  grid-area: compareProducts; }

.rankingStars {
  margin: 1% 1% 1% 0;
  padding: 1% 1% 1% 0; }
  .rankingStars li {
    display: inline-block;
    color: #f68773; }

.price-tag {
  display: inline-block;
  margin: 1% 1% 1% 0;
  padding: 1% 1% 1% 0;
  color: #999; }
  .price-tag.striked {
    text-decoration-line: line-through; }

.size-tag {
  display: inline-block;
  min-width: 16px;
  min-height: 16px;
  background-color: #eeeeee;
  color: #999;
  border-radius: 50%;
  font-size: 0.8rem;
  text-align: center;
  padding: 1%; }

.selection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  .selection label {
    flex: 5; }
  .selection input[type="checkbox"] {
    flex: 1; }

.color-black {
  margin: 1% 1% 1% 0;
  padding: 1% 1% 1% 0;
  color: #222; }

.color-blue {
  margin: 1% 1% 1% 0;
  padding: 1% 1% 1% 0;
  color: #1857f7; }

.color-brown {
  margin: 1% 1% 1% 0;
  padding: 1% 1% 1% 0;
  color: #945454; }
