@import url(../../node_modules/normalize.css/normalize.css);
main h2, main h3, .path p:last-child, .title li.sortOptions, .pageNumber li a {
  color: #222; }

.size-tag {
  color: #999; }

main {
  background-color: white;
  max-width: 100%;
  margin: auto;
  padding: 2%; }
  @media (min-width: 768px) {
    main {
      max-width: 70%;
      min-width: 700px; } }
  @media (min-width: 992px) {
    main {
      max-width: 70%;
      min-width: 950px; } }
  main h2 {
    font-size: 1.5rem; }
  main h3 {
    font-size: 0.75rem;
    margin: 1% 1% 1% 0;
    padding: 1% 1% 1% 0; }
  main a {
    text-decoration: none;
    color: #999; }
  main ul {
    list-style-type: none; }
  main p, main ul, main input {
    color: #999; }

.path {
  margin-top: 12%;
  margin-bottom: 3%;
  font-size: 0.8rem;
  padding-left: 1.5%; }
  .path p {
    display: inline; }
  @media (min-width: 768px) {
    .path {
      margin-top: 6%; } }
  @media (min-width: 992px) {
    .path {
      margin-top: 5%; } }

.container {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: auto;
  grid-template-areas: "shopBy" "shoes" "compareProducts"; }
  @media (min-width: 768px) {
    .container {
      grid-template-rows: auto repeat(2, minmax(auto, 1fr));
      grid-template-columns: 3fr 1fr;
      grid-template-areas: "shoes shopBy" "shoes compareProducts" "shoes ."; } }
  @media (min-width: 992px) {
    .container {
      grid-template-rows: auto repeat(2, minmax(auto, 1fr));
      grid-template-columns: 3fr 1fr;
      grid-template-areas: "shoes shopBy" "shoes compareProducts" "shoes ."; } }

.block {
  margin: 2%; }

.shoes {
  grid-area: shoes;
  display: grid;
  grid-template-rows: auto repeat(12, minmax(auto, 1fr)) auto;
  grid-template-columns: auto;
  grid-template-areas: "title" "item1" "item2" "item3" "item4" "item5" "item6" "item7" "item8" "item9" "item10" "item11" "item12" "pageNumber"; }
  @media (min-width: 768px) {
    .shoes {
      grid-template-rows: auto repeat(6, minmax(auto, 1fr)) auto;
      grid-template-columns: repeat(2, minmax(200px, 1fr));
      grid-template-areas: "title title" "item1 item2" "item3 item4" "item5 item6" "item7 item8" "item9 item10" "item11 item12" ". pageNumber";
      gap: 1%; } }
  @media (min-width: 992px) {
    .shoes {
      grid-template-rows: auto repeat(4, minmax(auto, 1fr)) auto;
      grid-template-columns: repeat(3, minmax(200px, 1fr));
      grid-template-areas: "title title title" "item1 item2 item3" "item4 item5 item6" "item7 item8 item9" "item10 item11 item12" ". pageNumber .";
      gap: 1%; } }

.title {
  grid-area: title;
  display: flex;
  flex-flow: column wrap;
  padding: 2% 0; }
  .title h2 {
    flex: 1;
    margin: 0;
    padding: 0; }
  .title ul {
    flex: 1;
    justify-self: right;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 0.8em; }
    @media (min-width: 768px) {
      .title ul {
        min-width: 90%;
        text-align: right; } }
    @media (min-width: 992px) {
      .title ul {
        min-width: 90%;
        text-align: right; } }
  .title li {
    display: inline-block;
    padding-left: 2%; }
    .title li.sortOptions {
      font-weight: 700; }
    .title li.sortOptions-value {
      padding-left: 1%; }
    @media (min-width: 768px) {
      .title li {
        padding-left: 5%; } }
    @media (min-width: 992px) {
      .title li {
        padding-left: 5%; } }
  @media (min-width: 768px) {
    .title {
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-end; } }
  @media (min-width: 992px) {
    .title {
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-end; } }
  .title ion-icon {
    padding-right: 15px;
    font-size: 1.1rem; }

.item {
  background-color: white;
  text-align: center;
  margin: 4%; }
  .item .imgBox {
    max-height: 250px;
    overflow: hidden; }
    .item .imgBox img {
      display: block;
      margin: auto;
      max-width: 100%;
      height: auto;
      transition: all 1s ease-out; }
      .item .imgBox img:hover {
        filter: brightness(70%);
        transform: scale(1.2);
        cursor: pointer; }
  @media (min-width: 768px) {
    .item {
      text-align: justify; } }
  @media (min-width: 992px) {
    .item {
      text-align: justify; } }

.item1 {
  grid-area: item1; }

.item2 {
  grid-area: item2; }

.item3 {
  grid-area: item3; }

.item4 {
  grid-area: item4; }

.item5 {
  grid-area: item5; }

.item6 {
  grid-area: item6; }

.item7 {
  grid-area: item7; }

.item8 {
  grid-area: item8; }

.item9 {
  grid-area: item9; }

.item10 {
  grid-area: item10; }

.item11 {
  grid-area: item11; }

.item12 {
  grid-area: item12; }

.pageNumber {
  grid-area: pageNumber;
  text-align: center;
  font-weight: 500;
  font-size: 0.8rem; }
  .pageNumber li {
    display: inline-block;
    padding-right: 10%; }
  .pageNumber .first {
    padding-bottom: 2%;
    border-bottom: 1px solid #222; }
  .pageNumber ion-icon {
    font-size: 40px;
    vertical-align: middle;
    color: #999; }

.shopBy {
  grid-area: shopBy; }
  .shopBy h2 {
    font-size: 1.3rem;
    margin-bottom: 8%; }

.color {
  margin-bottom: 10%; }
  .color ul {
    padding: 0;
    font-size: 0.7rem; }
    .color ul li:hover {
      color: #222;
      cursor: pointer; }

.size {
  margin-bottom: 10%; }
  .size ul {
    padding: 0;
    font-size: 0.7rem; }
    .size ul li {
      display: inline-block;
      min-width: 5%;
      margin-right: 2%;
      padding: 2% 3%;
      background-color: white;
      border: 1px solid #eaeaea;
      color: #999;
      text-align: center; }
      .size ul li:hover {
        color: #222;
        cursor: pointer; }

.price {
  margin-bottom: 10%; }
  .price img {
    max-width: 90%;
    height: auto;
    margin: 4% 0; }

.brand {
  margin-bottom: 10%; }

.selection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 3% 0;
  color: #999; }
  .selection label {
    flex: 5;
    font-size: 0.8rem; }
    .selection label:hover {
      color: #222;
      cursor: pointer; }
  .selection input[type="checkbox"] {
    flex: 1;
    transform: scale(0.7); }

.compareProducts {
  grid-area: compareProducts; }
  .compareProducts h2 {
    font-size: 1.3rem;
    margin-bottom: 10%; }
  .compareProducts p {
    font-size: 0.8rem; }

.rankingStars {
  margin: 1% 1% 1% 0;
  padding: 1% 1% 1% 0;
  font-size: 0.7rem; }
  .rankingStars li {
    display: inline-block;
    color: #f68773; }

.price-tag {
  display: inline-block;
  margin: 1% 1% 1% 0;
  padding: 1% 1% 1% 0;
  font-size: 0.8rem; }
  .price-tag.striked {
    text-decoration-line: line-through; }

.size-tag {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #eaeaea;
  border-radius: 50%;
  font-size: 0.7rem;
  font-weight: 600;
  text-align: center; }

.circle-color-black {
  margin: 1% 1% 1% 0;
  padding: 1% 1% 1% 0;
  color: #222; }

.circle-color-blue {
  margin: 1% 1% 1% 0;
  padding: 1% 1% 1% 0;
  color: #1857f7; }

.circle-color-brown {
  margin: 1% 1% 1% 0;
  padding: 1% 1% 1% 0;
  color: #945454; }
