$color-grey: #999;
$color-orange: #f68773;
$color-grey: #999;




.container{
    width: 90%;
    margin: 0 auto;
}
.titreSection{
    margin-top: 80px;
    width: 100%;
    h2{
        margin-bottom: 0;
    }
    p{
        margin-top: 5px;
        color: $color-grey;
        font-size: 0.8rem;
    }
}
.highlight{
    background-image: url(../img/home/sl2-1.jpg);
    background-repeat: none;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobileNo{
    display: none;
}

.socialBar{
    width: 150px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    list-style: none;
    justify-content: center;
    li{
        margin: 10px;
        a{
            color: $color-grey;
        }
    }
}


.groupTextCentral{
    margin-top: 200px;
    margin-left: 30px;
    .bigFont{
        font-size: 3rem;
        font-weight: bolder;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .orange{
        color: $color-orange;
    }
    a{
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        
        font-size: 0.8rem;
        border-bottom: 2px solid black;
    }
}


.highlight3{
    display: flex;
    flex-wrap: wrap;
    div{
        width: 100%;
        
        height: 300px;
        p, h2, a{
            margin-left: 40px;
            
        }
        
    }
    .hairBand:hover{
        background-image: url(../img/home/banner_h1_1.jpg);
        background-position: right;
        background-size: 110%;
        

        
        
    }
    .hairBand{
        background-image: url(../img/home/banner_h1_1.jpg);
        background-position: right;
        background-size: cover;
        padding-left: 40px;
        transition: 2s;
        
        // display: flex;
        // flex-direction: column;
        h2{
            width: 150px;
            margin-top: 0;
            margin-bottom: 5px;
            font-size: 2rem;            
        }
        p{
            margin-bottom: 5px;
            margin-top: 80px;
            color: $color-grey;
        }
        a{
            color: black;
            text-decoration: none;
            text-transform: uppercase;
            
            font-size: 0.8rem;
            border-bottom: 2px solid black;
        }
        
    }
    .studded{
        background-image: url(../img/home/banner_h1_2.jpg);
        background-position: center;
        background-size: cover;
        text-align: center;
        h2{
            width: 250px;
            margin: 0 auto;
            color: white;
            font-size: 2rem; 

        }
        a{
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            margin-top: 10px;
            
            font-size: 0.8rem;
            border-bottom: 2px solid white;
        }
        p{
            color: white;
            margin-top: 80px;
            margin-bottom: 10px;
        }
        
    }
    .specialPrice{
        background-image: url(../img/home/banner_h1_3.jpg);
        background-position: left;
        background-size: cover;
        text-align: right;
        
        h2{
            
            margin-top: 0;
            margin-bottom: 5px;
            margin-right: 50px;
            font-size: 2.2rem; 
            
            
            
            
            
                       
        }
        p{
            margin-bottom: 5px;
            margin-top: 80px;
            margin-right: 50px;
            color: $color-grey;
        }
        a{
            color: black;
            text-decoration: none;
            text-transform: uppercase;
            margin-right: 50px;
            font-size: 0.8rem;
            border-bottom: 2px solid black;
            
        }
    }
  
}
.topSellers{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .topType1{
        width: 100%;
        margin-top: 40px;
        margin-bottom: 80px;
        img{
            width: 80%;
        }
        h3{
            width: 50%;
            font-size: 2rem;
        }
        a{
            color: black;
            text-decoration: none;
            text-transform: uppercase;
            width: -moz-fit-content;
            font-size: 0.8rem;
            border-bottom: 2px solid black;
        }
        p{
            color: $color-grey;
        }
    }
    .topType2{
        width: 100%;
        margin-top: 40px;
        margin-bottom: 80px;
        img{
            width: 100%;
        }
        h3{
            width: 100%;
            font-size: 2rem;
        }
        a{
            color: black;
            text-decoration: none;
            text-transform: uppercase;
            width: -moz-fit-content;
            font-size: 0.8rem;
            border-bottom: 2px solid black;
        }
        p{
            color: $color-grey;
        }

    }
}

.category{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: left;
    padding-left: 0;
    li{
        width: 33%;
        
        font-size: 1rem;
    }
    // a{
    //     text-decoration: none;
        
    // }
    .fontBlack{
        color: black;
        text-decoration: none;
        
    }
    .fontgrey{
        color: $color-grey;
        text-decoration: none;
    }
}


.listProduct{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    .product{
        display: flex;
        flex-direction: column;
        width: 45%;
        margin-bottom: 50px;
        
        img{
            width: 100%;
        }
        h3{
            width: 100%;
        }
        .rankingStars{
            width: 50%;
            display: flex;
            list-style: none;
            padding-left: 0;
            margin-top: 0;
            li{
                width: 20%;
                .orangeStar{
                    color: $color-orange;
                }
                .greyStar{
                    color: $color-grey;
                }
            }
        }
        p{
            width: 50%;
            color: $color-grey;
            margin-top: 0;
        }

    
    }
    a{
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        margin: 0 auto;
        font-size: 0.8rem;
        border-bottom: 2px solid black;
    }
}

.dealDay{
    margin-top: 30px;
    background-image: url(../img/home/deals_image.jpg);
    background-position: center;

    .dealDayInfo{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        h2{
            margin-top: 80px;
            font-size: 1.2rem;
            color: $color-grey;
            font-weight: lighter;
        }
        h3{
            font-size: 2rem;
            margin: 0;
        }
        .dealTagGroup{
            display: flex;
            .dealTag{
                border-radius: 5%;
                padding: 5px;
                width: 20%;
                background-color: $color-orange;
                color: white;
                font-weight: bold;
                text-align: center;
                margin-bottom: 50px;
            }
            .dealTagStock{
                display: none;
            }
        }
   

    }
    a{
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1rem;
        border-bottom: 2px solid black;
        width: fit-content;
        width: -moz-fit-content;
        margin-bottom: 70px;
    }
    .prices{
        display: flex;
        font-weight: bold;
        p{
            width: 70px;
        }
        .oldPrice{
            text-decoration: line-through;
            color: $color-grey;
        }
    }
}

.decompte{
    // border-radius: 2%;
    padding: 0;
    margin-bottom: 70px;
    display: flex;
    list-style: none;
    background-color: white;
    justify-content: center;
    text-align: center;
    li{
        width: 20%;
        .numDecompte{
            font-size: 1.5rem;
            font-weight: bolder;
            margin-bottom: 0;
        }
        .infoDecompte{
            color: $color-grey;
            margin-top: 5px;
        }
    }
    
}

.latestNews{
    .titreSection{
        margin-bottom: 70px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        a{
            color: black;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1rem;
            border-bottom: 2px solid black;
            width: fit-content;
            width: -moz-fit-content;
            
        }

    }
    .news{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 70px;
        img{
            display: block;
            width: 100%;
        }
        h3{
            width: 100%;
            margin-bottom: 0;
            margin-top: 30px;
        }
        a{
            color: black;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1rem;
            border-bottom: 2px solid black;
            width: -moz-fit-content;
            
        }
        .infoNews{
            display: flex;
            margin-bottom: 0;
            .author{
                color: $color-orange;
                font-weight: bold;
                margin-right: 20px;
                margin-bottom: 10px;
            }
            .dateNews{
                margin-bottom: 10px;
            }
            
        }
    }
    
}


.newsletter{
    .inputSubmit{
        input{
            text-decoration: none;
        }
    }
}



.imageWall{
        width: 90%;
        margin-bottom: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px;
        display: flex;
        
        img{
            width: 33%;
        }
        .desktopOnly{
            display: none;
        }
}







@media screen and (min-width: 768px){
  .topType1{
      display: none;
  }


  .topType2{
      display: flex;
      img{
          width: 80%;
          order: 2;
      }
      .boxDescription{
          width: 20%;
          display: flex;
          flex-direction: column;
          order: 1;
          z-index: 1;
        h3{
            font-size: 3rem;
        }
      }
  }
 .listProduct{
     .product{
        margin-bottom: 80px;
         .rankingStars{
             width: 25%;
         }
     }
 }
  .decompte{
      width: 60%;
  }
  .category{
      li{
          width: 20%;
      }
  }
  .latestNews{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      .newsTablet{
          width: 45%;
      }
  }
  .newsletter{
      display: flex;
      width: 100%;
      .titreSection{
          width: 50%;
          margin-top: 0;
      }
      .inputSubmit{
          width: 50%;
          display: flex;
          .inputEmail{
              width: 70%;
          }
          .inputSubmit{
              width: 30%;
          }
      }
  }
  .imageWall{
    width: 100%;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    display: flex;
    
    img{
        width: 33%;
    }
    .tabletOnly{
        display: block;
    }
}
}
@media screen and (min-width: 992px){
    .container{
        width: 100%;
    }
    .highlight{
        background-image: url(../img/home/abc.jpg);
        background-color: #F2EDE9;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
            
        
        .groupTextCentral{
            width: 40%;
            order: 2;
            .smallOnly{
                display: none;
            }
            .mobileNo{
                display: block;
              
            }
            p{
                color: $color-orange;
                font-size: 1rem;
            }
            h1{
                font-size: 6rem;
                width: 400px;
                margin-top: 0;
                margin-bottom: 30px;
            }
         
        }
        .socialBar{
            width: 60%;
            order: 1;
            li{
                margin-left: 90px;
            }
        }
    }


    .highlight{
        height: 100vh;
        background-image: url(../img/home/abc.jpg);
        .socialBar{
            display: flex;
            flex-direction: column;
        }
    }
    .highlight3{
        display: flex;
        flex-direction: row;
        width: 100%;
        div{
            width: 33.33%;
            height: 400px;
            

        }
        .hairBand{
            padding: 0;
            p, h2, a{
                margin-left: 40px;
                padding: 0;
                
            }
        }
    }


    .topSellers{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 70%;
        margin: 0 auto;
        
        .topType1{
            width: 30%;
            display: flex;
            flex-direction: column;
            height: 600px;
            margin-top: 200px;
            
            
            h3{
                width: 70%;
                margin-top: 0;
                margin-bottom: 80px;
                height: 10px;
                font-size: 1.8rem;
                
            }
        }
        .imageDroiteDesktop{
            
            img{
                margin-left: 20%;
            }
            h3, p, a{
                margin-left: 20%;
            }
        }
        .topType2{
            width: 60%;
        }
    }

    .newArrival{
        width: 70%;
        margin: 0 auto;
        .titreSection{
            display: flex;
            justify-content: space-between;
            
            .titreBlock{
                width: 30%;
            }
            ul{
                width: 50%;
                
                align-self: flex-end;
                li{
                    text-align: right;
                    min-width: 60px;
                }
            }
        }
        .listProduct{
            .product{
                width: 30%;
                margin-bottom: 80px;
            }
            a{
                width: fit-content;
                font-size: 1.2rem;

            }
        }
    }
        
    .dealDay{
        .dealDayInfo{
            .dealTagGroup{
                .dealTag{
                    width: 7%;
                }
                .dealTagStock{
                    display: inline-block;
                    border-radius: 5%;
                    padding: 5px;
                    width: 7%;
                    background-color: #0AA605;
                    color: white;
                    font-weight: bold;
                    text-align: center;
                    margin-bottom: 50px;
                    margin-left: 20px;
                    
                }
            }

            .decompte{
                width: 40%;
            }
        }
    }

    .latestNews{
        width: 70%;
        margin: 0 auto;
        .titreSection{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            .titreBlock{
                width: 30%;
            }
            a{
                
                align-self: flex-end;
              
            }
            p{
                margin-bottom: 0;
            }
        }
        .news{
            width: 30%;
        }
    }

    .newsletter{
        width: 70%;
        margin: 0 auto;
    }




    .imageWall{
        .desktopOnly{
            display: block;
        }
    }
}