.container {
  width: 90%;
  margin: 0 auto; }

.titreSection {
  margin-top: 80px;
  width: 100%; }
  .titreSection h2 {
    margin-bottom: 0; }
  .titreSection p {
    margin-top: 5px;
    color: #999;
    font-size: 0.8rem; }

.highlight {
  background-image: url(../img/home/sl2-1.jpg);
  background-repeat: none;
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.mobileNo {
  display: none; }

.socialBar {
  width: 150px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  list-style: none;
  justify-content: center; }
  .socialBar li {
    margin: 10px; }
    .socialBar li a {
      color: #999; }

.groupTextCentral {
  margin-top: 200px;
  margin-left: 30px; }
  .groupTextCentral .bigFont {
    font-size: 3rem;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 20px; }
  .groupTextCentral .orange {
    color: #f68773; }
  .groupTextCentral a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    border-bottom: 2px solid black; }

.highlight3 {
  display: flex;
  flex-wrap: wrap; }
  .highlight3 div {
    width: 100%;
    height: 300px; }
  .highlight3 .hairBand {
    background-image: url(../img/home/banner_h1_1.jpg);
    background-position: right;
    background-size: cover;
    padding-left: 40px; }
    .highlight3 .hairBand h2 {
      width: 150px;
      margin-top: 0;
      margin-bottom: 5px;
      font-size: 2rem; }
    .highlight3 .hairBand p {
      margin-bottom: 5px;
      margin-top: 80px;
      color: #999; }
    .highlight3 .hairBand a {
      color: black;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.8rem;
      border-bottom: 2px solid black; }
  .highlight3 .studded {
    background-image: url(../img/home/banner_h1_2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center; }
    .highlight3 .studded h2 {
      width: 250px;
      margin: 0 auto;
      color: white;
      font-size: 2rem; }
    .highlight3 .studded a {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      margin-top: 10px;
      font-size: 0.8rem;
      border-bottom: 2px solid white; }
    .highlight3 .studded p {
      color: white;
      margin-top: 80px;
      margin-bottom: 10px; }
  .highlight3 .specialPrice {
    background-image: url(../img/home/banner_h1_3.jpg);
    background-position: left;
    background-size: cover;
    text-align: right; }
    .highlight3 .specialPrice h2 {
      margin-top: 0;
      margin-bottom: 5px;
      margin-right: 50px;
      font-size: 2.2rem; }
    .highlight3 .specialPrice p {
      margin-bottom: 5px;
      margin-top: 80px;
      margin-right: 50px;
      color: #999; }
    .highlight3 .specialPrice a {
      color: black;
      text-decoration: none;
      text-transform: uppercase;
      margin-right: 50px;
      font-size: 0.8rem;
      border-bottom: 2px solid black; }

.topSellers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }
  .topSellers .topType1 {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 80px; }
    .topSellers .topType1 img {
      width: 80%; }
    .topSellers .topType1 h3 {
      width: 50%;
      font-size: 2rem; }
    .topSellers .topType1 a {
      color: black;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.8rem;
      border-bottom: 2px solid black; }
    .topSellers .topType1 p {
      color: #999; }
  .topSellers .topType2 {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 80px; }
    .topSellers .topType2 img {
      width: 100%; }
    .topSellers .topType2 h3 {
      width: 100%;
      font-size: 2rem; }
    .topSellers .topType2 a {
      color: black;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.8rem;
      border-bottom: 2px solid black; }
    .topSellers .topType2 p {
      color: #999; }

.category {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: left;
  padding-left: 0; }
  .category li {
    width: 33%;
    font-size: 1rem; }
  .category a {
    text-decoration: none;
    color: #999; }

.listProduct {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; }
  .listProduct .product {
    display: flex;
    flex-direction: column;
    width: 45%; }
    .listProduct .product img {
      width: 100%; }
    .listProduct .product h3 {
      width: 100%; }
    .listProduct .product .rankingStars {
      width: 50%;
      display: flex;
      list-style: none;
      padding-left: 0;
      margin-top: 0; }
      .listProduct .product .rankingStars li {
        width: 20%; }
        .listProduct .product .rankingStars li .fas {
          color: #f68773; }
        .listProduct .product .rankingStars li .far {
          color: #999; }
    .listProduct .product p {
      width: 50%;
      color: #999;
      margin-top: 0; }
  .listProduct a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    font-size: 0.8rem;
    border-bottom: 2px solid black; }
