@import url(../../node_modules/normalize.css/normalize.css);
.productOverview .lorem, .productOverview h3, .reviewNote, .productCategory ul, .productTags ul, .singleProductInfo .productNav li:nth-child(2), .singleProductInfo .productNav li:nth-child(3), .size-tag {
  color: #999; }

main {
  background-color: white;
  max-width: 100%;
  line-height: 1.8rem;
  margin: auto;
  padding: 10% 2% 15% 2%; }
  @media (min-width: 768px) {
    main {
      max-width: 70%;
      min-width: 700px;
      padding: 2%; } }
  main h2 {
    font-size: 1.5rem; }
  main h3 {
    font-size: 1rem;
    margin: 1% 1% 1% 0;
    padding: 1% 1% 1% 0; }
  main hr {
    color: #eaeaea; }
  main a {
    text-decoration: none;
    color: #999; }
  main p, main ul {
    font-weight: 400; }
  main ul {
    margin: 1% 0;
    padding-left: 0; }
    main ul li {
      margin-right: 1%; }
  main img {
    display: inline-block;
    margin: auto;
    max-width: 100%;
    height: auto; }

.path {
  margin-top: 8%;
  margin-bottom: 1%;
  font-size: 1rem;
  padding-left: 2%; }
  .path p {
    display: inline; }
  @media (min-width: 768px) {
    .path {
      font-size: 0.8rem;
      margin-top: 5%; } }

.container {
  display: flex;
  flex-flow: column wrap; }

.block {
  margin: 2% 0; }

.singleProduct {
  flex: 2;
  display: flex;
  flex-flow: column wrap;
  margin-top: 0; }
  @media (min-width: 768px) {
    .singleProduct {
      flex-flow: row nowrap;
      justify-content: space-between; } }

.productPhotos {
  flex: 1;
  margin: 2% 2% 6% 2%; }
  @media (min-width: 768px) {
    .productPhotos {
      margin: 2%; } }
  .productPhotos img:hover {
    cursor: pointer; }

.mainPhoto {
  position: relative; }
  .mainPhoto .fas {
    position: absolute;
    left: 85%;
    top: 45%;
    color: white; }
    @media (min-width: 768px) {
      .mainPhoto .fas {
        left: 80%; } }
    @media (min-width: 992px) {
      .mainPhoto .fas {
        left: 85%; } }

.thumbnails {
  margin-top: 2%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  .thumbnails img {
    margin: 1%; }
  .thumbnails img:nth-child(2) {
    display: none; }
    @media (min-width: 768px) {
      .thumbnails img:nth-child(2) {
        display: flex;
        opacity: 0.6;
        transition: all 1s ease-out; }
        .thumbnails img:nth-child(2):hover {
          opacity: 1; } }
  .thumbnails img:nth-child(3), .thumbnails img:nth-child(4) {
    opacity: 0.6;
    transition: all 1s ease-out; }
    .thumbnails img:nth-child(3):hover, .thumbnails img:nth-child(4):hover {
      opacity: 1; }
  @media (min-width: 768px) {
    .thumbnails {
      flex-flow: row nowrap;
      justify-content: space-around; } }

.productOverview {
  flex: 1;
  margin: 2% 2% 10% 2%;
  line-height: 1.4rem; }
  .productOverview h2 {
    font-size: 1.8rem; }
  .productOverview h2, .productOverview h5 {
    margin: 0; }
  .productOverview .sku {
    color: #c3c3c3;
    font-size: 0.8rem; }
  .productOverview .price-tag.normal {
    color: #222;
    font-size: 1.2rem;
    font-weight: 400; }
    @media (min-width: 768px) {
      .productOverview .price-tag.normal {
        font-size: 1.5rem; } }
  .productOverview .price-tag.striked {
    font-size: 1.4rem;
    font-weight: 500; }
  .productOverview h3 {
    font-size: 0.9rem;
    letter-spacing: 0.5px; }
  @media (min-width: 768px) {
    .productOverview {
      flex: 1;
      margin: 2%; } }

.reviewNote {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  margin-bottom: 2%; }
  .reviewNote ul {
    flex: 1;
    margin: 0;
    padding: 0; }
  .reviewNote p {
    flex: 2;
    margin: 0;
    padding: 0; }
    .reviewNote p:hover {
      cursor: pointer; }

.productColor, .productSize {
  margin-bottom: 6.5%; }
  .productColor ul, .productSize ul {
    list-style-type: none; }
    .productColor ul li, .productSize ul li {
      margin-right: 3%;
      display: inline-block; }
      .productColor ul li:hover, .productSize ul li:hover {
        cursor: pointer;
        color: #222; }

.productButtons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  .productButtons input, .productButtons button {
    display: inline-block;
    margin: 1.5% 0;
    padding: 3.5%;
    border-radius: 0;
    border: 2px solid #eaeaea; }
  .productButtons .cart, .productButtons .buy {
    background-color: #222;
    color: white;
    font-weight: 700;
    transition: all 1s ease-out; }
    .productButtons .cart:hover, .productButtons .buy:hover {
      background-color: white;
      color: #222; }
  .productButtons .numberOfItems-wrapper {
    flex: 1 1 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 0;
    text-align: center;
    border: 2px solid #eaeaea; }
    .productButtons .numberOfItems-wrapper .numberOfItems {
      flex: 3;
      text-align: center;
      border: none; }
      @media (min-width: 768px) {
        .productButtons .numberOfItems-wrapper .numberOfItems {
          flex: 1;
          max-width: 50px; } }
    .productButtons .numberOfItems-wrapper .plus, .productButtons .numberOfItems-wrapper .minus {
      flex: 1;
      font-size: 1.5rem; }
      .productButtons .numberOfItems-wrapper .plus a, .productButtons .numberOfItems-wrapper .minus a {
        color: #999; }
      @media (min-width: 768px) {
        .productButtons .numberOfItems-wrapper .plus, .productButtons .numberOfItems-wrapper .minus {
          flex: 1; } }
    @media (min-width: 768px) {
      .productButtons .numberOfItems-wrapper {
        flex: 12;
        display: flex;
        flex-flow: row nowrap;
        max-width: 200px;
        margin-right: 3%;
        padding: 1.6% 0; } }
  .productButtons .cart {
    flex: 7;
    margin-right: 3%; }
    @media (min-width: 768px) {
      .productButtons .cart {
        flex: 15;
        margin-right: 3%; } }
  .productButtons .heart {
    flex: 1;
    background-color: white;
    color: #999; }
    @media (min-width: 768px) {
      .productButtons .heart {
        flex: 1; } }
  .productButtons .buy {
    flex: 1 1 100%;
    margin-top: 5%;
    margin-bottom: 6%; }
    @media (min-width: 768px) {
      .productButtons .buy {
        margin-top: 2%; } }
  @media (min-width: 768px) {
    .productButtons {
      display: flex;
      flex-flow: row wrap;
      align-items: baseline;
      justify-content: space-between; } }

.productCategory, .productTags {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline; }
  .productCategory h5, .productTags h5 {
    flex: 1;
    font-size: 0.9rem; }
  .productCategory ul, .productTags ul {
    list-style-type: none; }
    .productCategory ul li, .productTags ul li {
      display: inline-block;
      cursor: pointer; }

.productCategory {
  margin-top: 4%; }
  .productCategory ul {
    flex: 3; }
    @media (min-width: 768px) {
      .productCategory ul {
        flex: 3; } }
    @media (min-width: 992px) {
      .productCategory ul {
        flex: 6; } }

.productTags ul {
  flex: 6; }
  @media (min-width: 768px) {
    .productTags ul {
      flex: 6; } }
  @media (min-width: 992px) {
    .productTags ul {
      flex: 11; } }

.socialBar {
  margin-top: 6%;
  list-style-type: none; }
  .socialBar li {
    padding-right: 4%;
    display: inline-block; }
  .socialBar .fab {
    color: #222; }

.singleProductInfo {
  flex: 1;
  margin-bottom: 15%; }
  @media (min-width: 768px) {
    .singleProductInfo {
      margin-bottom: 0; } }
  .singleProductInfo .productNav {
    padding: 4% 0;
    text-align: center;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    font-size: 1.3rem;
    font-weight: 700; }
    .singleProductInfo .productNav li {
      display: block;
      padding-bottom: 3%;
      padding-right: 5%; }
      @media (min-width: 768px) {
        .singleProductInfo .productNav li {
          display: inline; } }
    .singleProductInfo .productNav li:nth-child(2), .singleProductInfo .productNav li:nth-child(3) {
      transition: all 1s ease-out; }
      .singleProductInfo .productNav li:nth-child(2):hover, .singleProductInfo .productNav li:nth-child(3):hover {
        color: #222;
        cursor: pointer; }
    @media (min-width: 768px) {
      .singleProductInfo .productNav {
        padding: 3% 0; } }
  .singleProductInfo .description {
    margin-top: 8%;
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    .singleProductInfo .description h3 {
      margin-bottom: 8%;
      font-size: 1.8rem;
      font-weight: 500; }
      @media (min-width: 768px) {
        .singleProductInfo .description h3 {
          margin-bottom: 0; } }
    .singleProductInfo .description p, .singleProductInfo .description ul {
      color: #999; }
    .singleProductInfo .description ul {
      margin-left: 4%;
      line-height: 2.2rem; }
      @media (min-width: 768px) {
        .singleProductInfo .description ul {
          margin-left: 2%; } }
    .singleProductInfo .description .introfeatures-wrapper {
      display: flex;
      flex-flow: column wrap;
      padding-right: 1%; }
      @media (min-width: 768px) {
        .singleProductInfo .description .introfeatures-wrapper {
          flex: 1; } }
    .singleProductInfo .description .introduction {
      margin-bottom: 5%; }
    .singleProductInfo .description .features {
      margin-bottom: 8%;
      padding-bottom: 2%;
      border-bottom: 1px solid #eaeaea; }
      @media (min-width: 768px) {
        .singleProductInfo .description .features {
          border-bottom: none; } }
    .singleProductInfo .description .visual {
      padding-left: 1%; }
      @media (min-width: 768px) {
        .singleProductInfo .description .visual {
          flex: 1;
          text-align: right; } }
    @media (min-width: 768px) {
      .singleProductInfo .description {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify: space-between; } }

.relatedProducts {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-bottom: 15%; }
  .relatedProducts .title {
    text-align: center; }
    .relatedProducts .title h2 {
      font-size: 2rem;
      margin-bottom: 8%; }
      @media (min-width: 768px) {
        .relatedProducts .title h2 {
          margin: 1% 0; } }
    .relatedProducts .title p {
      display: none; }
    @media (min-width: 768px) {
      .relatedProducts .title p {
        color: #999;
        display: inline-block;
        margin: 0;
        padding: 0;
        font-style: italic;
        font-weight: 400;
        font-size: 0.8rem; }
      .relatedProducts .title a {
        color: #222; } }
  @media (min-width: 768px) {
    .relatedProducts {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      margin-bottom: 2px; } }

.upsellProducts {
  display: none; }
  @media (min-width: 768px) {
    .upsellProducts {
      flex: 1;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      margin-bottom: 8%; }
      .upsellProducts .title {
        text-align: center;
        font-size: 2rem;
        margin: 1% 0; }
      .upsellProducts .item {
        margin: 3% 0 8% 0; } }

.itemContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center; }
  @media (min-width: 768px) {
    .itemContainer {
      flex-flow: row wrap;
      align-item: flex-start;
      justify-content: space-between; } }

.imgBox {
  max-height: 250px;
  overflow: hidden;
  margin-bottom: 7%; }
  .imgBox img {
    transition: all 1s ease-out; }
    .imgBox img:hover {
      filter: brightness(70%);
      transform: scale(1.2);
      cursor: pointer; }

.item {
  margin: 3% 0 3% 0;
  padding: 0; }
  .item h3 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0; }
  .item p {
    margin: 0;
    padding: 0; }
  .item .price-tag {
    font-size: 0.9rem; }
    .item .price-tag.new-price {
      color: #222; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

.rankingStars {
  margin: 1% 1% 1% 0;
  padding: 1% 1% 1% 0; }
  .rankingStars li {
    display: inline-block; }
    .rankingStars li .orangeStar {
      color: #edb86c; }
    .rankingStars li .greyStar {
      color: #d2d2d2; }

.price-tag {
  display: inline-block;
  margin: 1% 1% 1% 0;
  padding: 1% 1% 1% 0;
  color: #999; }
  .price-tag.striked {
    text-decoration-line: line-through; }

.size-tag {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #eaeaea;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center; }

.circle-color {
  padding: 3%;
  background-color: white;
  border: 1px solid #eaeaea;
  border-radius: 50%; }
  .circle-color.mattBlue {
    color: #70849d; }
  .circle-color.beige {
    color: #cfa58f; }
  .circle-color.pink {
    color: #f06292; }
