.title {
  width: 100%;
  background-color: #3C3C3C;
  color: white;
  text-align: center;
  margin-top: 40px;
  height: 100px;
  padding-top: 30px; }

.container {
  margin: 0 auto;
  width: 90%; }

.boxUP {
  width: 100%;
  margin-bottom: 100px; }
  .boxUP .searchArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid #F4F4F4;
    padding: 15px; }
    .boxUP .searchArea h2 {
      width: 100%;
      text-align: left;
      margin-top: 5px;
      padding-bottom: 15px;
      border-bottom: 1px solid #F4F4F4; }
    .boxUP .searchArea .formulaire {
      width: 70%;
      margin-top: 15px;
      margin-bottom: 15px;
      display: flex; }
      .boxUP .searchArea .formulaire label {
        width: 30%; }
      .boxUP .searchArea .formulaire input {
        width: 70%;
        border-radius: 0;
        border: 1px solid #F4F4F4;
        padding: 10px; }
      .boxUP .searchArea .formulaire select {
        width: 70%;
        padding: 10px; }
    .boxUP .searchArea .searchButton {
      width: 50%;
      background-color: black;
      color: white;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: 20px;
      margin-bottom: 20px;
      transition: all 1s ease-out;
      cursor: pointer; }
      .boxUP .searchArea .searchButton:hover {
        background-color: white;
        color: #222; }
      .boxUP .searchArea .searchButton p {
        text-align: center;
        font-weight: bold;
        font-size: 0.7rem; }

.boxDOWN {
  margin-top: 50px;
  margin-bottom: 50px; }

.storeListContainer {
  padding: 15px;
  border-left: 1px solid #F4F4F4;
  border-right: 1px solid #F4F4F4;
  border-top: 1px solid #F4F4F4;
  border-bottom: 1px solid #F4F4F4; }
  .storeListContainer .titleList {
    border-bottom: 1px solid #F4F4F4; }
  .storeListContainer .listStore {
    padding: 15px;
    width: 100%;
    height: 450px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap; }
    .storeListContainer .listStore .store {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 50px; }
      .storeListContainer .listStore .store .imageStore {
        width: 30%; }
        .storeListContainer .listStore .store .imageStore img {
          width: 100%; }
      .storeListContainer .listStore .store .infoStore {
        width: 70%; }
        .storeListContainer .listStore .store .infoStore h3 {
          margin-top: 0;
          color: black; }
        .storeListContainer .listStore .store .infoStore p {
          color: #999;
          font-size: 0.8rem;
          margin-bottom: 20px; }
        .storeListContainer .listStore .store .infoStore h3, .storeListContainer .listStore .store .infoStore p, .storeListContainer .listStore .store .infoStore a {
          margin-left: 20px; }
        .storeListContainer .listStore .store .infoStore a {
          width: 60%;
          background-color: black;
          color: white;
          text-decoration: none;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 20px;
          padding-right: 20px;
          transition: all 1s ease-out; }
          .storeListContainer .listStore .store .infoStore a:hover {
            background-color: white;
            color: #222; }

.storeMap {
  margin-top: 100px;
  height: 300px; }

@media screen and (min-width: 768px) {
  .container {
    width: 80%; }
  .boxUP {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    margin-top: 50px; }
    .boxUP .searchArea {
      width: 43%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between; }
      .boxUP .searchArea .country, .boxUP .searchArea .state, .boxUP .searchArea .city, .boxUP .searchArea .zipcode {
        margin-top: 0;
        width: 45%;
        display: flex;
        flex-wrap: wrap; }
        .boxUP .searchArea .country label, .boxUP .searchArea .state label, .boxUP .searchArea .city label, .boxUP .searchArea .zipcode label {
          width: 100%;
          margin-bottom: 15px; }
        .boxUP .searchArea .country input, .boxUP .searchArea .state input, .boxUP .searchArea .city input, .boxUP .searchArea .zipcode input {
          width: 90%; }
        .boxUP .searchArea .country select, .boxUP .searchArea .state select, .boxUP .searchArea .city select, .boxUP .searchArea .zipcode select {
          width: 90%; }
      .boxUP .searchArea .location, .boxUP .searchArea .radius {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0; }
        .boxUP .searchArea .location label, .boxUP .searchArea .radius label {
          width: 100%;
          margin-bottom: 15px; }
        .boxUP .searchArea .location input, .boxUP .searchArea .radius input {
          width: 100%; }
      .boxUP .searchArea .searchButton {
        width: 30%; }
  .boxDOWN {
    display: flex;
    justify-content: space-between; }
    .boxDOWN .storeListContainer {
      width: 32%; }
    .boxDOWN .storeMap {
      width: 62%;
      height: 560px;
      margin-top: 0; } }
