.page-header{
    display: grid;
    grid-row: 1;
        grid-column: 1/4;
        background-color: rgb(122, 122, 122);
        color: white;
        font-weight: bold;
        text-align: center;
        padding-top: none;
    }
.ssheader{
    display: grid;
    background-color: rgb(182, 182, 182);
    color:#222;
    grid-row:2;
    grid-column: 1/4;
    padding-left: 40px;
    font-size:10px;
}
.name{
    color:#f68773;
    font-size: 15px;
}
.article1{
    padding-top: 60px;
    margin-left: 100px;
    margin-right: 30px;
    display: grid;
    grid-row: 3;
    grid-column: 1;

}
.article2{
    padding-top: 30px;
    margin-left: 100px;
    margin-right: 60px;
    display: grid;
    grid-row: 4;
    grid-column: 2/4;
}
.article3-1{

        padding-top: 40px;
        margin-left: 100px;
        margin-right: 30px;
        display: grid;
        grid-row: 5/6;
        grid-column: 1;
}
.article3-2-2006{
    padding-top: 40px;
    margin-left: 100px;
    margin-right: 60px;
    display: grid;
    grid-row: 5;
    grid-column: 2;
}
.article3-2-2009{
    padding-top: 40px;
    margin-left: 100px;
    margin-right: 60px;
    display: grid;
    grid-row: 5;
    grid-column: 3;
}
.article3-2-2012{
    padding-top: 40px;
    margin-left: 100px;
    margin-right: 60px;
    display: grid;
    grid-row: 6;
    grid-column: 2;
}
.article3-2-2015{
    padding-top: 40px;
    margin-left: 100px;
    margin-right: 60px;
    display: grid;
    grid-row: 6;
    grid-column: 3;
}
.article4{
    margin-top: 40px;
    display: grid;
    grid-row: 7;
    grid-column: 1/4;
    background-image: url("../img/about/video-img.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    padding-bottom:100px;
    padding-top: 50px;
    color: white;
    font-size: 35px;
    line-height: 30px;
}
.article5{
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    display: grid;
    grid-row: 8;
    grid-column: 1/4;
}
.article6{
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    display: grid;
    grid-row: 9;
    grid-column: 1/4;
    max-width: 800px;
}
.article7-1{
    padding-top: 20px;
    margin-left: 50px;
    margin-right: auto;
    display: grid;
    grid-row: 10;
    grid-column: 1;
}
.article7-2{
    padding-top: 20px;
    margin-left: auto;
    margin-right: 50px;
    display: grid;
    grid-row: 10;
    grid-column: 2/4;
}
.article8{
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    display: grid;
    grid-row: 11;
    grid-column: 1/4;
}
.article9{
    background-color: rgb(211, 211, 211);
    margin-left: none;
    margin-right: none;
    text-align:center;
    display: grid;
    grid-row: 12;
    grid-column: 1/4;
}

.articlesection{
    color:#f68773;
    font-size: 12px;
}
.articlesection2{
    color:#999;
    font-size: 12px;
    margin-right: 40px;
    padding-left:5px;
}
.articlesection3{
    color:#999;
    font-size: 12px;
    margin-right: 40px;
    padding-left:5px;
}
.title{
    font-size: 35px;
    font-weight: bolder;
    margin-top: 10px;
}
.title2{
    margin-left: -50px;
    font-size: 25px;
    margin-top: 10px;
    font-style: italic;
    background-color: rgb(240, 240, 240);
    padding: 10px
}
.title3{
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}
.title4{
    font-size: 15px;
    font-weight: bold;
}
.title5{
    font-size: 30px;
    font-weight: bold;
}
.img1{
    display: grid;
    grid-column: 2;
    grid-row:3;
    height: 300px;
    padding-top: 60px;
}
.img2{
    display: grid;
    grid-column: 1;
    grid-row:4;
    height: 300px;
    padding-top: 60px;
    margin-left: auto;
    margin-right:none;
}
.img3{
    max-height:250px;
    max-width:250px;
    padding:20px;
    padding-top: none;
    margin-bottom: 30px;
}
.img4{
    padding:5px;
    background-color: white;
    margin: 10px;
    border-radius: 3px;
}
.leadership{
    display: flex;
    justify-content: space-between;
}
.brand{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.i1{
    display: flex;
    vertical-align: center;
    color: #f68773;
    margin-right: 10px;
    margin-left: 15px;

}
.position1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column: 2; 
}
.position2{
    display: flex;
    justify-content: flex-end;
    grid-column: 1;  
}
.iconssvideo{
    display: flex;
    flex-direction: row ;
    align-items: center;
}
.blockquote{
    font-size: 15px;
    color: #999;
}
.job{
    font-size: 12;
    color: #999;
}
.interligne{
    line-height: 10px;
}
.table2{
    line-height: 10px;
}
body{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows:60px 20px repeat(12 1fr);
    font-family: "Roboto",sans-serif;
}
td{
    vertical-align: top;
}
@media screen and (max-width:768px){
    .articlesection2{
    margin-left: 10px;
    margin-right: 10px;
    }
    .articlesection3{
        margin-left: auto;
        margin-right: auto;
        }
    .brand{
        display: flex;
        flex-direction: column;
    }
    .article3-2-2006{
        text-align: right;
        }
    .article3-2-2009{
    text-align: right;
    }
    .article3-2-2012{
        text-align: right;
        }
        .article3-2-2015{
            text-align: right;
            }
    .article7-1{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
            }
        
    .article7-2{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .iconssvideo{
        display: flex;
        flex-flow: column nowrap;
    }
    .title{
        margin-left: auto;
        margin-right: auto;
    }
    .leadership{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .blockquote{
        margin-left: 10px;
        margin-right: 10px;
    }
    .img1{
        width:100%;
        height: inherit;
    }
    body{
        display: flex;
        flex-direction: column;
    }
}