@import "../../node_modules/normalize.css/normalize.css";
//@use 'pages/product';


// VARIABLES
// COLORS
$color-black: #222;
$color-white: white;
$color-grey: #999;
$color-lightgray: #eaeaea;
$color-orangeStar: #edb86c;
$color-greyStar: #d2d2d2;
$color-orange: #f68773;
$color-blue: #1857f7;
$color-brown: #945454;
$color-mattBlue: #70849d;
$color-beige: #cfa58f;
$color-pink: #f06292;


// FONTS
$font-family-main: 'Roboto', sans-serif;
$font-size-small: 0.9rem;
$font-size-medium: 0.9rem;
$font-size-large: 1rem;


// MEDIA QUERIES
// Breakpoint manager
@mixin media($breakpoint)
{
    @if $breakpoint == medium 
    {
        @media (min-width: 768px) 
        { 
            @content; 
        }
    }
    @else if $breakpoint == large 
    {
        @media (min-width: 992px)
        { 
            @content; 
        }
    }
}

// SILENT CLASSES

%color-black
{
    color: $color-black;
}

// MAIN ELEMENTS

//Créer un body commun
body
{
    background-color: $color-white;
    color: $color-grey;
    font-family: $font-family-main;
    font-size: $font-size-small;
    line-height: 1.7rem;

    @include media(medium)
    {
        font-size: $font-size-medium;
    }

    @include media(large)
    {
        font-size: $font-size-large;
    }
}

main
{
    background-color: $color-white; //debug
    max-width: 100%;
    margin: auto;
    padding: 2%;

    @include media(medium)
    {
        max-width: 70%;
        min-width: 700px;
    }

    @include media(large)
    {
        max-width: 70%;
        min-width: 950px;
    }

    h2
    {
        @extend %color-black;
        font-size: 1.5rem;
    }

    h3
    {
        @extend %color-black;
        font-size: $font-size-large;
        margin: 1% 1% 1% 0;
        padding: 1% 1% 1% 0;
    }

    a
    {
        text-decoration: none;
        color: $color-grey;
    }

    p, ul
    {
        font-weight: 500;
    }

    ul
    {
        margin: 1% 0;
        padding-left: 0;

        li
        {
            margin-right: 1%;
        }
    }

    img
    {
        display: inline-block;
        margin: auto;
        max-width: 100%;
        height: auto;
    }

}

.path
{
    p
    {
        display: inline;
    }

    p:last-child
    {
        @extend %color-black;
    }
}

.container
{
    display: flex;
    flex-flow: column wrap;
}

.block
{
    margin: 8% 2%;
}

.singleProduct
{
    flex: 1;

    display: flex;
    flex-flow: column wrap;

    .productPhotos
    {
        .mainPhoto
        {
            position: relative;

            .fas
            {
                position: absolute;
                left: 90%;
                top: 50%;
            }
        }

        .thumbnails
        {
            margin-top: 2%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            img
            {
                margin: 0;
            }

            img:first-child
            {
                display: none;
            }

            img:nth-child(3), img:nth-child(4)
            {
                opacity: 0.6;
                transition: all 1s ease-out;

                &:hover
                {
                    opacity: 1;
                }
            }
        }
    }

    .productOverview
    {
        .reviewNote
        {
            display: flex;
            flex-flow: row wrap;
            align-items: baseline;
            margin: 0;
            padding: 0;

            ul
            {
                flex: 0 1 25%;
            }
        }

        h2, h5
        {
            margin: 0;
        }

        .sku
        {
            font-size: 0.8rem;
        }

        .price-tag.normal
        {
            font-size: 1.1rem;
        }

        h3
        {
            font-size: 0.9rem;
            letter-spacing: 0.5px;
        }

        .productColor, .productSize
        {
            margin-bottom: 8%;

            ul
            {
                list-style-type: none;

                li
                {
                    margin-right: 3%;
                    display: inline-block;
                }
            }
        }

        .productButtons
        {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            input, button
            {
                display: inline-block;
                margin: 1.5% 0;
                padding: 4%;
                border-radius: 0; 
                border: 2px solid $color-lightgray;
            }

            .cart, .buy
            {
                background-color: $color-black;
                color: $color-white;
                font-weight: 700;
                transition: all 1s ease-out;

                &:hover
                {
                    background-color: $color-white;
                    color: $color-black;
                }
            }

            .numberOfItems-wrapper 
            {
                flex: 1 1 100%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: baseline;
                text-align: center;
                border: 2px solid $color-lightgray;

                .numberOfItems
                {
                    flex: 3;
                    text-align: center;
                    border: none;
                }

                .plus, .minus
                {
                    flex: 1;
                    font-size: 2rem;

                    a
                    {
                        color: $color-lightgray;                        
                    }

                }
            }

            .cart
            {
                flex: 7;
                margin-right: 3%;
            }

            .heart
            {
                flex: 1;
                background-color: $color-white;
                color: $color-grey;
            }

            .buy
            {
                flex: 1 1 100%;
                margin-top: 7%;
            }

        }

        .productCategory, .productTags
        {
            display: flex;
            flex-flow: row wrap;
            align-items: baseline;

            h5
            {
                flex: 1;
                color: $color-black;
                font-size: 0.9rem;
            }

            ul
            {
                flex: 3;
                list-style-type: none;

                li
                {
                    display: inline-block;
                }
            }
        }

        .productTags
        {
            ul
            {
                flex: 6;
            }
        }

        .socialBar
        {
            list-style-type: none;

            li
            {
                padding-right: 4%;
                display: inline-block;
            }

            .fab
            {
                color: $color-black;
            }
        }
    }
}

.singleProductInfo
{
    flex: 1;

    .productNav
    {
        padding: 6% 0;
        text-align: center;
        border-top: 1px solid $color-lightgray;
        border-bottom: 1px solid $color-lightgray;
        font-size: 1.3rem;
        font-weight: 700;

        li
        {
            display: block;
        }

        li:first-child
        {
            color: $color-black;
        }

        li:nth-child(2), li:nth-child(4)
        {
            transition: all 1s ease-out;

            &:hover
            {
                color: $color-black;
            }
        }

        li:nth-child(3), li:nth-child(5)
        {
            display: none;
        }

        span
        {
            font-variant-position: super;
        }
    }

    .description
    {
        margin: 20% 0 0 0;

        h3
        {
            margin-bottom: 8%;
            font-size: 1.5rem;
            font-weight: 400;
        }

        ul
        {
            padding-left: 4%;
        }

        .features
        {
            margin-bottom: 10%;
            padding-bottom: 2%;
            border-bottom: 1px solid $color-lightgray;
        }

    }
}

.relatedProducts
{
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;

    .title
    {
        p
        {
            display: none;
        }
    }

    .item
    {
        margin: 3% 0 8% 0;
        padding: 0;
        overflow: hidden;

        h3
        {
            font-size: 0.9rem;
        }

        .price-tag
        {
            font-size: 0.9rem;
        }
    }

    .imgBox
    {
        max-height: 250px;
        overflow: hidden;
        
        img
        {
            transition: all 1s ease-out;

            &:hover
            {
                filter: brightness(70%);
                transform: scale(1.2);
            }
        }
    }
}

.upsellProducts
{
    display: none;
}

// DETAILS 

// Supprime design de base des input type number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.rankingStars
{
    margin: 1% 1% 1% 0;
    padding: 1% 1% 1% 0;

    li
    {
        display: inline-block;
        
        .orangeStar
        {
            color: $color-orangeStar;
        }

        .greyStar
        {
            color: $color-greyStar;
        }
    }
}

.price-tag
{
    display: inline-block;
    margin: 1% 1% 1% 0;
    padding: 1% 1% 1% 0;
    font-size: 1.4rem;
    color: $color-black;

    &.striked
    {
        text-decoration-line: line-through;
        font-size: 1.3rem;
        color: $color-grey;
    }
}

.size-tag
{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: $color-lightgray;
    border-radius: 50%;
    font-size: 0.8rem;
    font-weight: 700;
    text-align: center;
}

.circle-color
{
    padding: 3%;
    background-color: $color-white;
    border: 1px solid $color-lightgray;
    border-radius: 50%;

    &.mattBlue
    {
        color: $color-mattBlue; 
    }

    &.beige
    {
        color: $color-beige;
    }

    &.pink
    {
        color: $color-pink;
    }
}