@import "../../node_modules/normalize.css/normalize.css";

// VARIABLES
// COLORS
$color-black: #222;
$color-white: white;
$color-grey: #999;
$color-middlegrey: #c3c3c3;
$color-lightgrey: #eaeaea;
$color-orangeStar: #edb86c;
$color-greyStar: #d2d2d2;
$color-orange: #f68773;
$color-blue: #1857f7;
$color-brown: #945454;
$color-mattBlue: #70849d;
$color-beige: #cfa58f;
$color-pink: #f06292;

// MEDIA QUERIES
// Breakpoint manager
@mixin media($breakpoint)
{
    @if $breakpoint == medium 
    {
        @media (min-width: 768px) 
        { 
            @content; 
        }
    }
    @else if $breakpoint == large 
    {
        @media (min-width: 992px)
        { 
            @content; 
        }
    }
}

// SILENT CLASSES

%color-grey
{
    color: $color-grey;
}

%color-lightgrey
{
    color: $color-lightgrey;
}

// MAIN ELEMENTS

main
{
    background-color: $color-white; //debug
    max-width: 100%;
    line-height: 1.8rem;
    margin: auto;
    padding: 10% 2% 15% 2%;

    @include media(medium)
    {
        max-width: 70%;
        min-width: 700px;
        padding: 2%;
    }

    h2
    {
        font-size: 1.5rem;
    }

    h3
    {
        font-size: 1rem;
        margin: 1% 1% 1% 0;
        padding: 1% 1% 1% 0;
    }

    hr
    {
        color: $color-lightgrey;
    }

    a
    {
        text-decoration: none;
        color: $color-grey;
    }

    p, ul
    {
        font-weight: 400;
    }

    ul
    {
        margin: 1% 0;
        padding-left: 0;

        li
        {
            margin-right: 1%;
        }
    }

    img
    {
        display: inline-block;
        margin: auto;
        max-width: 100%;
        height: auto;
    }

}

.path
{
    margin-top: 8%;
    margin-bottom: 1%;
    font-size: 1rem;
    padding-left: 2%;

    p
    {
        display: inline;
    }

    @include media(medium)
    {
        font-size: 0.8rem;
        margin-top: 5%;
    }
}

.container
{
    display: flex;
    flex-flow: column wrap;
}

.block
{
    margin: 2% 0;
}

.singleProduct
{
    flex: 2;

    display: flex;
    flex-flow: column wrap;
    margin-top: 0;

    @include media(medium)
    {
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}

.productPhotos
{
    flex: 1;
    margin: 2% 2% 6% 2%;

    @include media(medium)
    {
        margin: 2%;
    }

    img
    {
        &:hover
        {
            cursor: pointer;
        }
    }
}

.mainPhoto
{
    position: relative;

    .fas
    {
        position: absolute;
        left: 85%;
        top: 45%;
        color: $color-white;

        @include media(medium)
        {
            left: 80%;
        }

        @include media(large)
        {
            left: 85%;
        }
    }
}

.thumbnails
{
    margin-top: 2%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    img
    {
        margin: 1%;
    }

    img:nth-child(2)
    {
        display: none;

        @include media(medium)
        {
            display: flex;
            opacity: 0.6;
            transition: all 1s ease-out;

            &:hover
            {
                opacity: 1;
            }
        }
    }

    img:nth-child(3), img:nth-child(4)
    {
        opacity: 0.6;
        transition: all 1s ease-out;

        &:hover
        {
            opacity: 1;
        }
    }

    @include media(medium)
    {
        flex-flow: row nowrap;
        justify-content: space-around;
    }
}

.productOverview
{
    flex: 1;
    margin: 2% 2% 10% 2%;
    line-height: 1.4rem;

    h2
    {
        font-size: 1.8rem;
    }

    h2, h5
    {
        margin: 0;
    }

    .lorem
    {
        @extend %color-grey;
    }

    .sku
    {
        color: $color-middlegrey;
        font-size: 0.8rem;
    }

    .price-tag.normal
    {
        color: $color-black;
        font-size: 1.2rem;
        font-weight: 400;

        @include media(medium)
        {
            font-size: 1.5rem;
        }
    }

    .price-tag.striked
    {
        font-size: 1.4rem;
        font-weight: 500;
    }

    h3
    {
        @extend %color-grey;
        font-size: 0.9rem;
        letter-spacing: 0.5px;
    }

    @include media(medium)
    {
        flex: 1;
        margin: 2%;
    }
}

.reviewNote
{
    @extend %color-grey;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    margin-bottom: 2%;

    ul
    {
        flex: 1;
        margin: 0;
        padding: 0;
    }

    p
    {
        flex: 2;
        margin: 0;
        padding: 0;

        &:hover
        {
            cursor: pointer;
        }
    }
}

.productColor, .productSize
{
    margin-bottom: 6.5%;

    ul
    {
        list-style-type: none;

        li
        {
            margin-right: 3%;
            display: inline-block;

            &:hover
            {
                cursor: pointer;
                color: $color-black;
            }
        }
    }
}

.productButtons
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    input, button
    {
        display: inline-block;
        margin: 1.5% 0;
        padding: 3.5%;
        border-radius: 0; 
        border: 2px solid $color-lightgrey;
    }

    .cart, .buy
    {
        background-color: $color-black;
        color: $color-white;
        font-weight: 700;
        transition: all 1s ease-out;

        &:hover
        {
            background-color: $color-white;
            color: $color-black;
        }
    }

    .numberOfItems-wrapper 
    {
        flex: 1 1 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: baseline;
        padding: 0;
        text-align: center;
        border: 2px solid $color-lightgrey;

        .numberOfItems
        {
            flex: 3;
            text-align: center;
            border: none;

            @include media(medium)
            {
                flex: 1;
                max-width: 50px;
            }
        }

        .plus, .minus
        {
            flex: 1;
            font-size: 1.5rem;

            a
            {
                color: $color-grey;                        
            }

            @include media(medium)
            {
                flex: 1;
            }

        }

        @include media(medium)
        {
            flex: 12;
            display: flex;
            flex-flow: row nowrap;
            max-width: 200px;
            margin-right: 3%;
            padding: 1.6% 0;
        }
    }

    .cart
    {
        flex: 7;
        margin-right: 3%;

        @include media(medium)
        {
            flex: 15;
            margin-right: 3%;
        }
    }

    .heart
    {
        flex: 1;
        background-color: $color-white;
        color: $color-grey;

        @include media(medium)
        {
            flex: 1;
        }
    }

    .buy
    {
        flex: 1 1 100%;
        margin-top: 5%;
        margin-bottom: 6%;

        @include media(medium)
        {
            margin-top: 2%;
        }
    }

    @include media(medium)
    {
        display: flex;
        flex-flow: row wrap;
        align-items: baseline;
        justify-content: space-between;
    }

}

.productCategory, .productTags
{
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;

    h5
    {
        flex: 1;
        font-size: 0.9rem;
    }

    ul
    {
        @extend %color-grey;
        list-style-type: none;

        li
        {
            display: inline-block;
            cursor: pointer;
        }
    }
}
  
.productCategory
{
    margin-top: 4%;

    ul
    {
        flex: 3;

        @include media(medium)
        {
            flex: 3;
        }

        @include media(large)
        {
            flex: 6;
        }
    }
}

.productTags
{
    ul
    {
        flex: 6;

        @include media(medium)
        {
            flex: 6;
        }

        @include media(large)
        {
            flex: 11;
        }
    }
}

.socialBar
{
    margin-top: 6%;
    list-style-type: none;

    li
    {
        padding-right: 4%;
        display: inline-block;
    }

    .fab
    {
        color: $color-black;
    }
}

.singleProductInfo
{
    flex: 1;
    margin-bottom: 15%;

    @include media(medium)
    {
        margin-bottom: 0;
    }

    .productNav
    {
        padding: 4% 0;
        text-align: center;
        border-top: 1px solid $color-lightgrey;
        border-bottom: 1px solid $color-lightgrey;
        font-size: 1.3rem;
        font-weight: 700;

        li
        {
            display: block;
            padding-bottom: 3%;
            padding-right: 5%;

            @include media(medium)
            {
                display: inline;
            }
        }

        li:nth-child(2), li:nth-child(3)
        {
            @extend %color-grey;
            transition: all 1s ease-out;

            &:hover
            {
                color: $color-black;
                cursor: pointer;
            }
        }

        @include media(medium)
        {
            padding: 3% 0;
        }
    }

    .description
    {
        margin-top: 8%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;

        h3
        {
            margin-bottom: 8%;
            font-size: 1.8rem;
            font-weight: 500;

            @include media(medium)
            {
                margin-bottom: 0;
            }
        }

        p, ul
        {
            color: $color-grey;
        }

        ul
        {
            margin-left: 4%;
            line-height: 2.2rem;

            @include media(medium)
            {
                margin-left: 2%;
            }
        }

        .introfeatures-wrapper
        {
            display: flex;
            flex-flow: column wrap;
            padding-right: 1%;
            
            @include media(medium)
            {
                flex: 1;
            }
        }

        .introduction
        {
            margin-bottom: 5%;
        }

        .features
        {
            margin-bottom: 8%;
            padding-bottom: 2%;
            border-bottom: 1px solid $color-lightgrey;

            @include media(medium)
            {
                border-bottom: none;
            }
        }

        .visual
        {
            padding-left: 1%;

            @include media(medium)
            {
                flex: 1;
                text-align: right;
            }
        }

        @include media(medium)
        {
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;
            justify: space-between;
        }
    }
}

.relatedProducts
{
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin-bottom: 15%;

    .title
    {
        text-align: center;
        
        h2
        {
            font-size: 2rem;
            margin-bottom: 8%;

            @include media(medium)
            {
                margin: 1% 0;
            }
        }

        p
        {
            display: none;
        }

        @include media(medium)
        {
            p
            {
                color: $color-grey;
                display: inline-block;
                margin: 0;
                padding: 0;
                font-style: italic;
                font-weight: 400;
                font-size: 0.8rem;
            }

            a
            {
                color: $color-black;
            }
        }
    }

    @include media(medium)
    {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        margin-bottom: 2px;
    }
}

.upsellProducts
{
    display: none;

    @include media(medium)
    {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        margin-bottom: 8%;

        .title
        {
            text-align: center;

            font-size: 2rem;
            margin: 1% 0;
        }

        .item
        {
            margin: 3% 0 8% 0;
        }
    }
}

.itemContainer
{
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    @include media(medium)
    {
        flex-flow: row wrap;
        align-item: flex-start;
        justify-content: space-between;
    }
}

.imgBox
{
    max-height: 250px;
    overflow: hidden;
    margin-bottom: 7%;
    
    img
    {
        transition: all 1s ease-out;

        &:hover
        {
            filter: brightness(70%);
            transform: scale(1.2);
            cursor: pointer;
        }
    }
}

.item
{
    margin: 3% 0 3% 0;
    padding: 0;

    h3
    {
        font-size: 1rem;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }

    p
    {
        margin: 0;
        padding: 0;
    }

    .price-tag
    {
        font-size: 0.9rem;

        &.new-price
        {
            color: $color-black;
        }
    }
}

// DETAILS 

// Supprime design de base des input type number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.rankingStars
{
    margin: 1% 1% 1% 0;
    padding: 1% 1% 1% 0;

    li
    {
        display: inline-block;
        
        .orangeStar
        {
            color: $color-orangeStar;
        }

        .greyStar
        {
            color: $color-greyStar;
        }
    }
}

.price-tag
{
    display: inline-block;
    margin: 1% 1% 1% 0;
    padding: 1% 1% 1% 0;
    color: $color-grey;

    &.striked
    {
        text-decoration-line: line-through;
    }
}

.size-tag
{
    @extend %color-grey;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: $color-lightgrey;
    border-radius: 50%;
    font-size: 0.8rem;
    font-weight: 700;
    text-align: center;
}

.circle-color
{
    padding: 3%;
    background-color: $color-white;
    border: 1px solid $color-lightgrey;
    border-radius: 50%;

    &.mattBlue
    {
        color: $color-mattBlue; 
    }

    &.beige
    {
        color: $color-beige;
    }

    &.pink
    {
        color: $color-pink;
    }
}