@import "../../node_modules/normalize.css/normalize.css";

// VARIABLES
// COLORS
$color-black: #222;
$color-white: white;
$color-grey: #999;
$color-lightgrey: #eaeaea;
$color-orange: #f68773;
$color-blue: #1857f7;
$color-brown: #945454;

// MEDIA QUERIES
// Breakpoint manager
@mixin media($breakpoint)
{
    @if $breakpoint == medium 
    {
        @media (min-width: 768px) 
        { 
            @content; 
        }
    }
    @else if $breakpoint == large 
    {
        @media (min-width: 992px)
        { 
            @content; 
        }
    }
}

// SILENT CLASSES

%color-black
{
    color: $color-black;
}

%color-grey
{
    color: $color-grey;
}


// MAIN ELEMENTS

main
{
    background-color: $color-white; //debug
    max-width: 100%;
    margin: auto;
    padding: 2%;

    @include media(medium)
    {
        max-width: 70%;
        min-width: 700px;
    }

    @include media(large)
    {
        max-width: 70%;
        min-width: 950px;
    }

    h2
    {
        font-size: 1.5rem;
    }

    h3
    {
        font-size: 0.75rem;
        margin: 1% 1% 1% 0;
        padding: 1% 1% 1% 0;
    }

    a
    {
        text-decoration: none;
        color: $color-grey;
    }

    ul
    {
        list-style-type: none;
    }

    p, ul, input
    {
        color: $color-grey;
    }
}

.path
{
    margin-top: 12%;
    margin-bottom: 3%;
    font-size: 0.8rem;
    padding-left: 1.5%;

    p
    {
        display: inline;
    }

    p:last-child
    {
        @extend %color-black;
    }

    @include media(medium)
    {
        margin-top: 6%;
    }

    @include media(large)
    {
        margin-top: 5%;
    }
}

.container
{
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: auto;
    grid-template-areas:
    "shopBy"
    "shoes"
    "compareProducts"; 

    @include media(medium)
    {
        grid-template-rows: auto repeat(2, minmax(auto, 1fr));
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
        "shoes shopBy"
        "shoes compareProducts"
        "shoes ."; 
    }

    @include media(large)
    {
        grid-template-rows: auto repeat(2, minmax(auto, 1fr));
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
        "shoes shopBy"
        "shoes compareProducts"
        "shoes ."; 
    }
}

.block
{
    margin: 2%;
}

.shoes
{   
    grid-area: shoes;

    display: grid;
    grid-template-rows: auto repeat(12, minmax(auto, 1fr)) auto;
    grid-template-columns: auto;
    grid-template-areas:
    "title"
    "item1"
    "item2"
    "item3"
    "item4"
    "item5"
    "item6"
    "item7"
    "item8"
    "item9"
    "item10"
    "item11"
    "item12"
    "pageNumber";

    @include media(medium)
    {
        grid-template-rows: auto repeat(6, minmax(auto, 1fr)) auto;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-template-areas:
        "title title"
        "item1 item2"
        "item3 item4"
        "item5 item6"
        "item7 item8"
        "item9 item10"
        "item11 item12"
        ". pageNumber";
        gap: 1%;
    }

    @include media(large)
    {
        grid-template-rows: auto repeat(4, minmax(auto, 1fr)) auto;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        grid-template-areas:
        "title title title"
        "item1 item2 item3"
        "item4 item5 item6"
        "item7 item8 item9"
        "item10 item11 item12"
        ". pageNumber .";
        gap: 1%;
    }
}

.title
{
    grid-area: title;
    display: flex;
    flex-flow: column wrap;
    padding: 2% 0;

    h2
    {
        flex: 1;
        margin: 0;
        padding: 0;
    }

    ul
    {
        flex: 1;
        justify-self: right;
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 0.8em;

        @include media(medium)
        {
            min-width: 90%;
            text-align: right;
        }

        @include media(large)
        {
            min-width: 90%;
            text-align: right;
        }
    }

    li
    {
        display: inline-block;
        padding-left: 2%;

        &.sortOptions
        {
            font-weight: 700;
            @extend %color-black;
        }

        &.sortOptions-value
        {
            padding-left: 1%;
        }

        @include media(medium)
        {
            padding-left: 5%;
        }

        @include media(large)
        {
            padding-left: 5%;
        }
    }

    @include media(medium)
    {
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-end;
    }

    @include media(large)
    {
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-end;
    }

    ion-icon
    {
        padding-right: 15px;
        font-size: 1.1rem;
    }
}

.item
{
    background-color: $color-white; //debug
    text-align: center;
    margin: 4%;

    .imgBox
    {
        max-height: 250px;
        overflow: hidden;
        
        img
        {
            display: block;
            margin: auto;
            max-width: 100%;
            height: auto;
            transition: all 1s ease-out;

            &:hover
            {
                filter: brightness(70%);
                transform: scale(1.2);
                cursor: pointer;
            }
        }
    }

    @include media(medium)
    {
        text-align: justify;
    }

    @include media(large)
    {
        text-align: justify;
    }
}

.item1
{
    grid-area: item1;
}

.item2
{
    grid-area: item2; 
}

.item3
{
    grid-area: item3;
}

.item4
{
    grid-area: item4;
}

.item5
{
    grid-area: item5;
}

.item6
{
    grid-area: item6;
}

.item7
{
    grid-area: item7;
}

.item8
{
    grid-area: item8;
}

.item9
{
    grid-area: item9;
}

.item10
{
    grid-area: item10;
}

.item11
{
    grid-area: item11;
}

.item12
{
    grid-area: item12;
}

.pageNumber
{
    grid-area: pageNumber;
    text-align: center;
    font-weight: 500;
    font-size: 0.8rem;

    li
    {
        display: inline-block;
        padding-right: 10%;

        a
        {
            @extend %color-black;
        }
    }

    .first
    {
        padding-bottom: 2%;
        border-bottom: 1px solid $color-black;
    }

    ion-icon
    {
        font-size: 40px;
        vertical-align: middle;
        color: $color-grey;
    }
}

.shopBy
{
    grid-area: shopBy;

    h2
    {
        font-size: 1.3rem;
        margin-bottom: 8%;
    }
}

.color
{
    margin-bottom: 10%;

    ul
    {
        padding: 0;
        font-size: 0.7rem;

        li
        {
            &:hover
            {
                color: $color-black;
                cursor: pointer;
            }
        }
    }
}

.size
{
    margin-bottom: 10%;

    ul
    {
        padding: 0;
        font-size: 0.7rem;

        li
        {
            display: inline-block;
            min-width: 5%;
            margin-right: 2%;
            padding: 2% 3%;
            background-color: $color-white;
            border: 1px solid $color-lightgrey;
            color: $color-grey;
            text-align: center;

            &:hover
            {
                color: $color-black;
                cursor: pointer;
            }
        }
    }
}

.price
{
    margin-bottom: 10%;
    
    img
    {
        max-width: 90%;
        height: auto;
        margin: 4% 0;
    }
}

.brand
{
    margin-bottom: 10%;
}

.selection
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 3% 0;
    color: $color-grey;

    label
    {
        flex: 5;
        font-size: 0.8rem;

        &:hover
        {
            color: $color-black;
            cursor: pointer;
        }
    }

    input[type="checkbox"]
    {
        flex: 1;
        transform: scale(0.7);
    }
}

.compareProducts
{
    grid-area: compareProducts;

    h2
    {
        font-size: 1.3rem;
        margin-bottom: 10%;
    }

    p
    {
        font-size: 0.8rem;
    }
}


// DETAILS 

.rankingStars
{
    margin: 1% 1% 1% 0;
    padding: 1% 1% 1% 0;
    font-size: 0.7rem;

    li
    {
        display: inline-block;
        color: $color-orange;
    }
}

.price-tag
{
    display: inline-block;
    margin: 1% 1% 1% 0;
    padding: 1% 1% 1% 0;
    font-size: 0.8rem;

    &.striked
    {
        text-decoration-line: line-through;
    }
}

.size-tag
{
    @extend %color-grey;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: $color-lightgrey;
    border-radius: 50%;
    font-size: 0.7rem;
    font-weight: 600;
    text-align: center;
}

.circle-color-black
{
    margin: 1% 1% 1% 0;
    padding: 1% 1% 1% 0;
    color: $color-black;
}

.circle-color-blue
{
    margin: 1% 1% 1% 0;
    padding: 1% 1% 1% 0;
    color: $color-blue;
}

.circle-color-brown
{
    margin: 1% 1% 1% 0;
    padding: 1% 1% 1% 0;
    color: $color-brown;
}