@import "../../node_modules/normalize.css/normalize.css";
@use 'pages/shop';


// VARIABLES
// COLORS
$color-black: #222;
$color-white: white;
$color-grey: #999;
$color-lightgray: #eeeeee;
$color-orange: #f68773;
$color-blue: #1857f7;
$color-brown: #945454;

// FONTS
$font-family-main: 'Roboto', sans-serif;


// SCSS

body
{
    background-color: $color-white;
    color: $color-black;
    font-family: $font-family-main;
    font-size: 1rem;
}

main
{
    background-color: $color-white; //debug
    max-width: 70%;
    margin: auto;
    padding: 4% 2%;
    //overflow: auto;
}

label, input
{
    color: $color-grey;
}

a
{
    text-decoration: none;
}

ul
{
    @extend p;
    list-style-type: none;
}

.path
{
    margin-bottom: 7%;

    p
    {
        display: inline;
    }

    p:nth-child(1)
    {
        color: $color-grey;
    }

    p:nth-child(2)
    {
        color: $color-black;
    }
}

.container
{
    display: grid;
    grid-template-rows: auto repeat(2, minmax(auto, 1fr));
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
    "shoes shopBy"
    "shoes compareProducts"
    "shoes .";
    gap: 2%;
}

.shoes
{   
    grid-area: shoes;

    display: grid;
    grid-template-rows: auto repeat(4, minmax(auto, 1fr)) auto;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-areas:
    "title title title"
    "item1 item2 item3"
    "item4 item5 item6"
    "item7 item8 item9"
    "item10 item11 item12"
    ". pageNumber .";
    gap: 1%;

    h3
    {
        margin: 1% 1% 1% 0;
        padding: 1% 1% 1% 0;
    }

    .title
    {
        grid-area: title;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        h2
        {
            flex: 1;
            margin: 0;
            padding: 0;
        }

        ul
        {
            flex: 1;
        }

        li
        {
            display: inline-block;
            padding-left: 5%;

            &.sortOptions
            {
                font-weight: 700;
                color: $color-black;
            }

            &.sortOptions-option
            {
                padding-left: 1%;

                a
                {
                    color: $color-grey;
                }
            }
        }
    }

    ion-icon
    {
        padding-right: 6px;
    }

    .item
    {
        background-color: $color-white; //debug
        padding: 2%;

        img
        {
            display: block;
            margin: auto;
            max-width: 100%;
            height: auto;
        }
    }

    .item1
    {
        grid-area: item1;
    }
    
    .item2
    {
        grid-area: item2; 
    }

    .item3
    {
        grid-area: item3;
    }

    .item4
    {
        grid-area: item4;
    }

    .item5
    {
        grid-area: item5;
    }

    .item6
    {
        grid-area: item6;
    }

    .item7
    {
        grid-area: item7;
    }

    .item8
    {
        grid-area: item8;
    }

    .item9
    {
        grid-area: item9;
    }

    .item10
    {
        grid-area: item10;
    }

    .item11
    {
        grid-area: item11;
    }

    .item12
    {
        grid-area: item12;
    }

    .pageNumber
    {
        grid-area: pageNumber;

        li
        {
            display: inline-block;
            color: $color-black;
            padding-right: 5%;

            a
            {
                color: $color-black;
            }
        }

        & .first
        {
            padding-bottom: 2%;
            border-bottom: 1px solid $color-black;
        }

        ion-icon
        {
            font-size: 32px;
            vertical-align: middle;
            color: $color-grey;
        }
    }
}

.shopBy
{
    grid-area: shopBy;
}

.color
{
    ul
    {
        padding: 0;
    }
}

.size
{
    ul
    {
        padding: 0;

        li
        {
            display: inline-block;
            width: 5%;
            padding: 1% 3%;
            background-color: $color-white;
            border: 1px solid $color-grey;
            font-size: 0.8rem;
            color: $color-grey;
            text-align: center;
        }
    }
}

.compareProducts
{
    grid-area: compareProducts;
}

.rankingStars
{
    margin: 1% 1% 1% 0;
    padding: 1% 1% 1% 0;

    li
    {
        display: inline-block;
        color: $color-orange;
    }

}

.price-tag
{
    display: inline-block;
    margin: 1% 1% 1% 0;
    padding: 1% 1% 1% 0;
    color: $color-grey;

    &.striked
    {
        text-decoration-line: line-through;
    }
}

.size-tag
{
    display: inline-block;
    min-width: 16px;
    min-height: 16px;
    background-color: $color-lightgray;
    color: $color-grey;
    border-radius: 50%;
    font-size: 0.8rem;
    text-align: center;
    padding: 1%;
}


.selection
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    label
    {
        flex: 5;
    }

    input[type="checkbox"]
    {
        flex: 1;
    }
}

.color-black
{
    margin: 1% 1% 1% 0;
    padding: 1% 1% 1% 0;
    color: $color-black;
}

.color-blue
{
    margin: 1% 1% 1% 0;
    padding: 1% 1% 1% 0;
    color: $color-blue;
}

.color-brown
{
    margin: 1% 1% 1% 0;
    padding: 1% 1% 1% 0;
    color: $color-brown;
}


// Extra small devices (phones, 600px and down)
//@media only screen and (max-width: 768px) {...}

//Medium devices (landscape tablets, 768px and up)
//@media only screen and (min-width: 768px) and (max-width: 992px) {...}

//Large devices (laptops/desktops, 992px and up) 
//@media only screen and (min-width: 992px) {...}